<div class="pic" [style.background-image]=" 'url('+imagePath+')' "
  [style.height.px]="500" [style.padding-top.px]="80">
</div>
<h1>Mission</h1>
<div class="mission">
  The sport psychology training, development and practice (sportpsychdev.com) website was formed as an attempt to provide a centralized source of information and resources for future and current professionals about topics related to their training, development, and practice. We have a 3-fold mission of advocacy, education, and collaboration. 
  <br>
  <br>
  Our group aims to
  <ul class="aims">
    <li>advocate for the development of research in sport psychology training, development, and practice</li>
    <li>extend the current research in sport psychology training, development, and practice</li>
    <li>facilitate research in sport psychology training, development, and practice</li>
    <li>disseminate research in sport psychology training, development, and practice</li> 
    <li>support collaboration and research in sport psychology training, development, and practice</li> 
    <li>connect research & practice in sport psychology training, development, and practice</li> 
    <li>contribute to developing best practices for sport psychology training, development, and practice</li>
  </ul>
  We also aim to add to the continuing education/professional development (CE/CPD) journey of sport psychology professionals around the world contributing with resources and information about CE/CPD opportunities and events as well as sharing evidence-based content that our research group and affiliates have developed. Our hope is to also become in a future a venue for sport psychology professionals to network and collaborate and through this interaction to continue exploring, identifying and hopefully addressing through research the need of professionals at different stages of their development and working in different contexts and environment

</div>

<br>

<div class="members-menu">
  <br>
    <p>
      <a routerLink="/members" title="Team">Meet the Team</a>
    </p>
  <br>
</div>
