<h2>Team Members</h2>
<div class=row fxLayout="row" >
  <div class="column" *ngFor="let member of members">
    <div class="card" >
      <a class="cardLink" routerLink="/detail/{{member.name}}">
        <img src="{{member.photoPath}}" alt="{{member.name}}" style="width:100%">
        <div class="container">
          <h2>{{member.firstName}}<br>
            {{member.lastName}}
          </h2>
        </div>
      </a>
    </div>
  </div>
<app-member-detail [member]="selectedMember"></app-member-detail>
